.header1 {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 15px 50px;
    z-index: 1000;
}

body {
    background-color: #f8f5f1
}

@font-face {
    font-family: 'new font';
    src: url(Nickainley-Normal.otf);
}
.sticky-bar {
    position: sticky;
    top: 0;
    color: white;
    padding: 15px;
    z-index: 1000;
    margin-left: 450px;
    font-family: 'new font', sans-serif;
}

.top-buttons {
    position: sticky;
    top: 0;
    color: white;
    padding: 15px;
    font-size: 25px;
    z-index: 1000;
    margin-left: 800px;
    font-family: "Josefin Sans", sans-serif;
}

.main-header {
    color: white;
    position: absolute;
    bottom: 150px;
    left: 550px;
    font-size: 45px;
    font-family: 'my font';
    src: url('Bauer Bodoni Regular.otf');
    -webkit-text-stroke: 2px rgba(175, 173, 173, 0.354);
}
.location {
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    -webkit-text-stroke: 0.3px rgba(175, 173, 173, 0.596);
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s;
}


nav a:hover {
    background-color: #6f4e37;
    transform: translateY(-2px);
}